
@charset "UTF-8";
@import url(font-awesome.min.css);
@import url("http://fonts.googleapis.com/css?family=Source+Sans+Pro:200");
@import url("http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic");
@import url("http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic");


html, body {
margin:0;

padding:0;
}

/**
 * base
 * --------------------------------------------------
 */

body, p {
  font-family:Helvetica, sans-serif;
  font-weight: 400;
  font-size: 18px;
}

body, h4 {
  font-weight: 400;
  font-size: 26px;
}

h1,
h2,
h3,
h4,
h5,
h6, .btn, .primary-menu-item > a, .m-primary-menu-item > a {
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
  line-height: 1.9;
  font-weight: 400;
  text-transform: none;
  letter-spacing: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
  font-weight: 700;
  text-transform: capitalize;
  letter-spacing: 0;
}

html {
  -webkit-tap-highlight-color: transparent;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow-x: hidden;
  background-color: #fff;
  font-size: 18px;
  color: #333;
}

/*end base/body */

a:focus,
a:hover {
  text-decoration: none;
  color: #0c90d3;
}

.thin {
  font-weight: 300;
}

.normal {
  font-weight: 400;
}

.bold {
  font-weight: 700;
}

i {
  display: inline-block;
  letter-spacing: 0;
}

body, header, footer {

  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-size: 13pt;
  font-weight: 200;
  line-height: 1.65;
}

/**
 * header
 * --------------------------------------------------
 */
.site-header {
  -webkit-transition-property: background-color;
       -o-transition-property: background-color;
          transition-property: background-color;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 800;
}

.is-scroll .site-header {
  background-color: #1e1f25;
}

.site-header .nav > li > a {
  padding: 0 !important;
}

.site-header .nav > li > a:focus,
.site-header .nav > li > a:hover {
  background-color: transparent;
}

.site-header-container {
  position: relative;
}

.site-header-brand {
  -webkit-transition-property: margin;
       -o-transition-property: margin;
          transition-property: margin;
  float: left;
  margin: 8px 0 8px;
}

@media (min-width: 992px) {
  .site-header-brand {
    margin: 22px 0 22px;
  }
  .is-scroll .site-header-brand {
    margin: 12px 0 12px;
  }
}

.site-header-brand-img {
  height: 40px;
}

@media (min-width: 992px) {
  .site-header-brand-img {
    height: 56px;
  }
}

.site-header-nav {
  -webkit-transition-property: margin;
       -o-transition-property: margin;
          transition-property: margin;
  float: right;
  height: 40px;
  line-height: 40px;
  margin: 8px 0 8px;
}

@media (min-width: 992px) {
  .site-header-nav {
    height: 56px;
    line-height: 56px;
    margin: 22px 0 22px;
  }
  .is-scroll .site-header-nav {
    margin: 12px 0 12px;
  }
}

.primary-menu {
  float: left;
}

@media (max-width: 991px) {
  .primary-menu {
    display: none;
  }
}

.primary-menu-item {
  float: left;
}

.primary-menu-item:not(:first-child) {
  margin-left: 30px;
}

.primary-menu-item > a {
  -webkit-transition-property: color;
       -o-transition-property: color;
          transition-property: color;
  display: block;
  height: 40px;
  line-height: 40px;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  color: #fff;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.primary-menu-item > a:hover {
  color: #006476;
  background-color: transparent !important;
}

.primary-menu-item > a > span {
  display: inline-block;
}

@media (min-width: 992px) {
  .primary-menu-item > a {
    height: 56px;
    line-height: 56px;
  }
}

.primary-menu-item.active > a {
  color: #006476;
}

.primary-menu-item.active > a:hover {
  color: #0c90d3;
}

.icon-menu {
  float: left;
}

.icon-menu-item {
  float: left;
  margin-left: 30px;
}

.icon-menu-item > a {
  display: block;
  height: 40px;
  line-height: 40px;
  color: #fff;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.icon-menu-item > a:focus,
.icon-menu-item > a:hover {
  color: #fff;
}

.icon-menu-item > a > i {
  font-size: 25px;
}

.icon-menu-item > a > i:before {
  display: block;
  line-height: inherit;
}

@media (min-width: 992px) {
  .icon-menu-item > a {
    height: 56px;
    line-height: 56px;
  }
}

.audio-toggle {
  display: none;
}

.is-audio .audio-toggle,
.is-mute .audio-toggle {
  display: block;
}

.audio-toggle-link {
  color: #fff;
}

.audio-toggle-link:hover {
  color: #fff !important;
}

.is-mute .audio-toggle-link {
  color: #999 !important;
}

.site-overlay {
  position: fixed;
  opacity: 0;
  visibility: hidden;
  background-color: rgba(30, 31, 37, 0.5);
}

/* mobile nav */
.m-nav {
  position: fixed;
  z-index: 798;
  display: none;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: #1e1f25;
  text-align: center;
}

.m-nav .nav > li > a {
  font-size: 18px;
  font-weight: 700;
}

.m-nav .nav > li > a:focus,
.m-nav .nav > li > a:hover {
  background-color: transparent;
}

@media (min-width: 992px) {
  .m-nav {
    display: none !important;
  }
}

.m-primary-menu-item > a {
  -webkit-transition-property: color;
       -o-transition-property: color;
          transition-property: color;
  display: block;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  color: #fff;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.m-primary-menu-item > a:hover {
  color: #006476;
  background-color: transparent !important;
}

.m-primary-menu-item > a > span {
  display: inline-block;
}

.m-primary-menu-item.active > a {
  color: #006476;
}

.m-primary-menu-item.active > a:hover {
  color: #0c90d3;
}

header {
  width: 100%;
  background-color: #333;
}

#topmenu {
  padding-left: 50px;
  position: fixed;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;

}

#topmenu li {
    float: left;
}

#topmenu img {
    padding-left: 30px;
    padding-right: 30px;
}

#topmenu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 26px 44px 36px;
    text-decoration: none;
}

#topmenu li a:hover {
    background-color: #111;
}

#login {
  font-weight: 400;
  font-size: 18px;
  		text-align: center;
      padding-top: 0px;
}

.center-box {

}

.clickMe {
  background-color: #93E1D8;
  border: none;
  display: block;
  margin: 35px auto;
  padding: 15px 30px;
  border-radius: 10px;
  cursor: pointer;
}

/* Footer */

	#footer {
		text-align: center;
		padding: 4em 0 4em 0;
	}

		#footer:before {
			content: '';
			border-top: solid 1px rgba(255, 255, 255, 0.25);
			width: 10em;
			display: block;
			margin: 0 auto 3em auto;
		}

		@media screen and (max-width: 1280px) {

			#footer {
				padding: 2em 0 2em 0;
			}

		}

footer {
  display: block;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* fireworks  */
.center-box {position:center;}
canvas {
  margin-top: 100px;
  width: 100%;
  display: block;
}

/* countdown timer */
body {
    text-align: center;
    background: #00ECB9;

}

#clockdiv{
    font-family: sans-serif;
    color: #fff;
    display: inline-block;
    font-weight: 100;
    text-align: center;
    font-size: 30px;
}

#clockdiv > div{
    padding: 10px;
    border-radius: 3px;
    background: #00BF96;
    display: inline-block;
}

#clockdiv div > span{
    padding: 15px;
    border-radius: 3px;
    background: #00816A;
    display: inline-block;
}

.smalltext{
    font-weight: 100;
    padding-top: 5px;
    font-size: 16px;
}

/* Icon */

	.icon {
		text-decoration: none;
		border-bottom: none;
		position: relative;
	}

		.icon:before {
			-moz-osx-font-smoothing: grayscale;
			-webkit-font-smoothing: antialiased;
			font-family: FontAwesome;
			font-style: normal;
			font-weight: normal;
			text-transform: none !important;
		}

		.icon > .label {
			display: none;
		}

		.icon.style2 {
			-moz-transition: all 0.2s ease;
			-webkit-transition: all 0.2s ease;
			-ms-transition: all 0.2s ease;
			transition: all 0.2s ease;
			border-radius: 100%;
			display: inline-block;
			padding: 0.5em;
			border: solid 1px rgba(255, 255, 255, 0.25);
			background-color: rgba(255, 255, 255, 0.075);
		}

			.icon.style2:before {
				display: block;
				width: 1.25em;
				height: 1.25em;
				line-height: 1.25em;
				font-size: 1.35em;
			}

			.icon.style2:hover {
				background-color: rgba(255, 255, 255, 0.25);
			}

			@media screen and (max-width: 736px) {

				.icon.style2:before {
					font-size: 1em;
				}

			}

      /* donate button */
  		#donate-button {
  			font-size: 18px;
  			font-weight: bold;
  			display: inline-block;
  			text-align: center;
  		}
